

body {
    background-color: rgb(68, 55, 55);
}

h1 {
    font-family: 'Inknut Antiqua', serif;
    font-size: 7rem;
    color: rgb(68, 55, 55);
}

h2 {
  font-family: 'Inknut Antiqua', serif;
  font-size: 2.7rem;
  color: rgb(71, 65, 65);
}

h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.7rem;
    color: rgb(71, 65, 65);
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3rem;
    color: rgb(71, 65, 65);
}

.desc {
    padding: 1.5rem;

}

/* sections */

.main {
    background-color: rgb(255, 252, 244);
    margin-left: 20px;
    margin-right: 20px;

}

.hero {
    padding-top: 5rem;
    padding-left: 15rem;
    padding-right: 15rem;
}

/* buttons */

.btn-main {
    background-color: #443737;
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 800;
    color: #fffcf4;
    margin-top: 3rem;

}

/* nav */

.sidenav {
    width: 70px;
    position: fixed;
    z-index: 10;
    top: 10px;
    right: 20px;
    background: #fffcf4;
    padding-top: 5px;
  }

.main-nav {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.hidden {
  z-index: 100 !important;
  position: relative !important;

}



/* hero animation */

#animate img {
    background: #6E8898;  
    -webkit-animation: super-palette 15s infinite alternate linear; 
    -moz-animation: super-palette 15s infinite alternate linear; 
}

@-webkit-keyframes super-palette {
   0%   { background: #6E8898; } 
   20%  { background: #554348; }
   40%  { background: #003459; }
   60%  { background: #36213E; }
   80%  { background: #2C1320; }
   100% { background: #443737; }
}

@-moz-keyframes super-palette {
   0%   { background: #6E8898; } 
   20%  { background: #554348; }
   40%  { background: #003459; }
   60%  { background: #36213E; }
   80%  { background: #2C1320; }
   100% { background: #443737; }
}

#animate img:nth-of-type(2) { -webkit-animation-delay: 1s; -moz-animation-delay: 1s; }
#animate img:nth-of-type(3) { -webkit-animation-delay: 2s; -moz-animation-delay: 2s; }
#animate img:nth-of-type(4) { -webkit-animation-delay: 3s; -moz-animation-delay: 3s;  }